.default_page {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
}

.child {
    width: 50vw;
    height: 100vh;
    background: #eee;
    border-right: 1px solid #580;
}

.login-qrcode {
  text-align: center;
}
.login-qrcode iframe {
  border: none;
  width: 190px;
  height: 190px;
}
